:root {
    --white: #fff
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background: #f2f2fa;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper .github-image {
    position: absolute;
    z-index: -1;
    top: -50px;
    right: 50px;
}

.container {
    max-width: 800px;
    margin-right: auto;
}

.header-container {
    max-width: 1200px;
    margin: 50px auto 0;
}

.title {
    font-size: 48px;
    line-height: 56px;
    max-width: 433px;
    margin: 40px 0 102px;
}

.repositories-list {
    display: flex;
    flex-direction: column;
}

.repositories-list .repository-item {
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 16px;
    border-radius: 5px;
}

.repositories-list .repository-item img {
    border-radius: 50%;
}

.repositories-list .repository-item .repository-item-information {
    margin-left: 22px;
}

.repositories-list .repository-item strong {
    font-size: 24px;
    line-height: 28px;
}

.repositories-list .repository-item p {
    font-size: 18px;
    color: #A8A8B3;
}

/* section{
    margin-left: 7%;
} */

/* 
.button-text{
    width: 65%;
    height: 3em;
    margin-left: 2%;
    border: 0px;
    border-radius: 5px;
    border-right: 0px;
    font-family: Roboto;
    color: black;
    padding-left: 0.5em;
    font-size: 1.4em;
}
.button-text::placeholder {
    font-family: Roboto;
    padding-left: 0.7em;
    font-size: 1.2em
}
.button-search{
    width: 14%;
    height: 4.48em;
    font-family: Roboto;
    font-size: 1.04em;
    font: bold;
    color: white;
    background-color: rgba(4, 211, 97, 1);
    border: 0px;
    border-radius: 5px;
    border-left: 0px;
    margin-left: -0.2em;
    padding-bottom: 0em;
}
/* ul{
    padding: 0.3em;
} */
/* li{
    background-color: #FFFFFF;
    list-style: none;
    width: 80%;
    border-radius: 5px;
    padding-left: 0.6em;
    height: 6em;
    margin-left: 1.5em;
}
li img {
    width:3.5em;
} */
/* .userName{
    color: rgba(61, 61, 77, 1);
    font-size: 1.4em;
    font-family: Roboto;
    margin: 0.2em 0em 0.7em 1.7em;
    padding: 1em 0em 0em 1.2em;
}
.descriptionUser{
    color: rgba(168, 168, 179, 1);
    font-size: 1.1em;
    font-family: Roboto;
    margin: -0.2em 0em 0.5em 2.7em;
    padding: 0.1em 0em 0.2em 1.6em;
}  */
