:root {
    --white: #fff
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    -webkit-font-smoothing: antialised;
    background: rgba(242, 242, 250, 1);
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper .github-image {
    position: absolute;
    z-index: -1;
    top: -50px;
    right: 50px;
}
.container{
    max-width: 800px;
    margin-right: auto;
}
.header-container {
    max-width: 1200px;
    margin: 50px auto 0;
}
.title{
    color: rgba(58, 58, 58, 1);
    font-size: 48px;
    line-height: 56px;
    max-width: 433px;
    margin: 40px 0 102px;
}
.search-area {
    display: flex;
    flex-direction: row;
    border-radius: 0px 5px 5px 0px;
    margin-left: 0.4em;
}
.search-input {
    font-size: 1.2em;
    height: 4.6em;
    width: 32.0em;
    border-radius: 5px;
    border: 0;
    font-family: 'Roboto';
    padding-left: 10px;
}
::placeholder{
    font-family: 'Roboto';
    color: rgba(168, 168, 179, 1);
    padding-left: 10px;
}
.search-button{
    font-size: 1.2em;
    width: 6.1em;
    border-radius: 0px 5px;
    border: 0;
    background: rgba(4, 211, 97, 1);
    color: white;
    font-family: 'Roboto'
}
.repositories-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 3.9em;
}

.repositories-list .repository-item {
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 16px;
    border-radius: 5px;
    margin: 0.4em;
}

.repositories-list .repository-item img {
    border-radius: 50%;
    height: 4.0em;
}

.repositories-list .repository-item .repository-item-information {
    margin-left: 22px;
    align-self:center;
}

.repositories-list .repository-item .userName {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    color: rgba(61, 61, 77, 1);
}

.repositories-list .repository-item p {
    font-size: 18px;
    color:#a8a8b3;
}

.arrow-next-pag{
    position: relative;
    left: 62%;
    font-size: 0.3em;   
}
